body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.transparentBox
{
  width: 640px;
  height: 400px;
  margin: 0px 0px;
  background-color: #1ada33;
  border: 1px solid black;
  opacity:0.3;
  z-index: 1;
}

div.videoBox
{
  position: absolute;
  top: 0px;
  z-index: -1;
}
